---
- hosts: localhost
  gather_facts: no
  tasks:
    - name: Initialize packer
      shell: packer init template.pkr.hcl
      args:
        chdir: ..

    - name: Build packer image
      shell: packer build template.pkr.hcl
      args:
        chdir: ..

    - name: Import image into k3d
      shell: k3d image import k3d-lionel-site:latest -c lab

    - name: Deploy new web app (apply or rollout)
      shell: kubectl rollout restart deployment/lionel-site-deployment

    - name: Wait for deployment to be ready
      shell: kubectl wait --for=condition=available deployment/lionel-site-deployment

    - name: Kill previous port-forward if any
      shell: pkill -f "kubectl port-forward.*8080:80" || true
      failed_when: false
      changed_when: false

    - name: pause 20 seconds
      pause:
        seconds: 20

    - name: Forward port to local machine
      shell: kubectl port-forward --pod-running-timeout=60s svc/lionel-service 8080:80 >/tmp/website.log 2>&1 &
